.form-body
  .cospul-detail__create__form
    %h2 CREATE Coordinate's details
    = form_with(model: [@cospul,@cospul_detail] ,url: cospul_cospul_details_path, local: true) do |f|
      = render partial:'shared/cospul_detail_form',locals: { cospul: @cospul,cospul_detail: @cospul_detail ,f: f  }
    = render partial:'shared/rakuten_search'
