= render partial: "shared/aside"
.content
  .content_inner
    .chip.chip_title
      お気に入り投稿一覧
    .tag_contents
      - if @cospuls.present?
        - @cospuls.each do |cospul|
          = render partial: "shared/cospul2", locals: { cospul: cospul }
      - else
        まだいいねした投稿はありません

