.rakuten__box
  .rakuten__box__search
    %h3 楽天検索
    %p アイテムの詳細やリンクを検索する事ができます
    = form_tag  :rakuten_index, method: :get ,remote: true do
      = label_tag :keyword, 'キーワード検索'
      = text_field_tag 'keyword', params[:keyword],class: 'cospul-text',id: "rakuten_search"
      = submit_tag "検索",id: "rakuten_submit"
  .rakuten__box__result
    %table
      %thead
        %tr
          %th 画像
          %th 商品名
          %th 価格
      %tbody
        .rakuten__box__result__lists