= render partial: "shared//aside"
.content
  .content_inner
    .chip.chip_title
      = @name
      の投稿一覧
    .cospul-lists__pictures
      - if @cospuls.blank?
        %h2 該当するタグ、またはタグを持つcospulは見つかりませんでした。
      - else
        = render partial:'shared/cospul_list',locals: { cospuls: @cospuls }
        = paginate(@cospuls)